<header id="header">
	<div class="row">
		<div class="wrapper">
			<div class="mid-y">
				<div class="mid-y-inner">
					<div class="full">
						<div class="hero">
							<h2>{{ proj.title }}<span ng-repeat="c in proj.categories"> {{ c }}</span></h2>
							<h3><span ng-repeat="d in proj.deliverables">{{ d }}</span></h3>
							<div class="full-half">
								<p>{{ proj.description }}<span>#{{ currentProj }}</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</header>
<div id="work">
	<div class="row">
		<div class="wrapper">
			<div class="half">
				<div class="misc"><h4>The Graffix Office</h4><p>A minimally scripted parody of “The Office”, that initially served as a report of
				that month’s work. We only got up to 2 episodes because we had to go back to work eventually.
				</p>
				<a target="_blank" href="https://www.youtube.com/watch?v=JTWBHAI4_CY">Episode 1: Pilot</a><br>
				<a target="_blank" href="https://www.youtube.com/watch?v=5i_-E1grIAA">Episode 2: Food Pron</a>
				</div>

				<div class="misc"><h4>KBBQ with EPIC People</h4><p>A mini montage featuring food and friends made solely for the fun of it,
				and testing out my first video DSLR. I love technology, food, and people.
				</p>
				<a target="_blank" href="https://vimeo.com/42868389">KBBQ with EPIC People</a>
				</div>
				
				<div class="misc"><h4>Youth With A Purpose Promo</h4><p>A promotional video made to raise awareness for the then upcoming youth summer
				camp for the church I volunteer/serve at.
				</p>
				<a target="_blank" href="https://vimeo.com/71202505">Youth With A Purpose Promo</a>
				</div>

				<div class="misc"><h4>Turn</h4><p>A story about balancing life as a young adult. This was friend’s project that I helped shoot as the Director of Photography. It won Best Screenplay at the Zotfest Film Festival. 
				</p>
				<a target="_blank" href="/public/vid/turn_720.mp4">Turn</a>
				</div>

				<div class="misc"><h4>TownSquare.LA</h4><p>Experimental work on motion graphics. Made with After Effects CC 2014.
				</p>
				<a target="_blank" href="/public/vid/townsquare.mp4">TownSquare.LA</a>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="half prev-next">
			<a ng-show="projPrev.name" href="#projects/{{ projPrev.prefix }}{{ projPrev.name }}">
				<div class="prev-inner">
					<h5><small>Previous Project:</small></h5>
					<h4>{{ projPrev.title }}</h4>
				</div>
			</a>
		</div>
		<div class="half prev-next">
			<a ng-show="projNext.name" href="#projects/{{ projNext.prefix }}{{ projNext.name }}">
				<div class="next-inner">
					<h5><small>Next Project:</small></h5>
					<h4>{{ projNext.title }}</h4>
				</div>
			</a>
		</div>
	</div>
</div>	

